@import "@/styles/variables";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-lg;

  &__btn {
    width: 36px;
    height: 36px;
    border-radius: $radius-md;
    border: 1px solid $gray-300;
    background: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all $transition-base;

    &:hover:not(:disabled) {
      border-color: $primary-blue;
      background: $gray-50;
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &__info {
    font-size: $font-base;
    color: $gray-700;
  }
}
