@import "@/styles/variables";

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  left: $spacing-md;
  top: 50%;
  transform: translateY(-50%);
  color: $gray-400;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid $gray-300;
  border-radius: $radius-md;
  font-size: $font-base;
  font-family: inherit;
  background: $white;

  &:focus {
    outline: none;
    border-color: $primary-blue;
    box-shadow: $shadow-focus;
  }

  &--error {
    border-color: $error-red;
  }

  &:disabled {
    background: $gray-50;
    color: $gray-500;
    cursor: not-allowed;
  }

  &--with-icon {
    padding-left: 40px;
  }

  &::placeholder {
    color: $gray-400;
  }
}
