@use "@/styles/variables" as *;

.wizard-form {
  &__title {
    font-size: $font-xl;
    margin-bottom: $spacing-2xl;
    color: $gray-800;
  }

  &__actions {
    display: flex;
    gap: $spacing-md;
    margin-top: $spacing-3xl;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;

      .btn {
        width: 100%;
      }
    }
  }
}
