@use "@/styles/variables" as *;

.label {
  display: block;
  margin-bottom: $spacing-sm;
  font-weight: $font-weight-medium;
  color: $gray-700;
  font-size: $font-base;

  &__required {
    color: $error-red;
    margin-left: 2px;
  }
}
